{{define "alert"}}
<div style="top:1em" class="bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded absolute w-2/5 pin-l pin-r mx-auto" role="alert">
    <span class="block sm:inline">{{.Message}}</span>
</div>
{{end}}